.blog__input-list {
  width: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 30px;
  visibility: hidden;
  scale: 0;
  transition: all 0.3s ease-in-out;
}

.blog__input-list_active {
  display: flex;
  visibility: visible;
  scale: 1;
}

.input__list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 30px;
  background: none;
  border: none;
  outline: none;
  font-size: 36px;
  color: #3f69d2;
  cursor: pointer;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

@media (max-width: 767px) {
  .blog__input-list {
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
  }
  .overlay_active {
    opacity: 1;
    pointer-events: all;
    z-index: 90;
  }
  .blog__input-list_active {
    visibility: visible;
    scale: 1;
  }
  .title_color {
    color: #fff;
  }
}
